.wrapper-blobs {
    position: relative;
    .blob {
        z-index: 0;
        position: absolute;
        display: block;
        background-color: var(--purple-light);
        border-radius: 100%;
        filter: contrast(2) blur(200px);
        opacity: 0.3;
        pointer-events: none;
    }
}