@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --purple-dark: rgb(3, 0, 12);
    --purple-medium: rgb(32, 18, 71);
    --purple-light: rgb(124, 106, 173);
    --text: white;
    --border: rgba(255, 255, 255, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    z-index: -5;
    background-color: black;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
label,
input,
textarea {
    font-family: 'Poppins', sans-serif;
}

pre {
    font-family: 'Source Code Pro', monospace;
}

ol,
ul,
li {
    list-style: none;
}

a, a:focus, a:visited {
    text-decoration: none;
    color: white;
}

button {
    border: none;
}

html {
    background-color: black;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: white black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
}
.background-image-container {
    width: 100%;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    .background-image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        // width: 100%;
        height: 100%;
    }
}

.wrapper-hero::after,
.wrapper-job-experience::after,
.wrapper-about-me::after,
.wrapper-skills::after,
.wrapper-projects::after,
.wrapper-projects-accordion::after {
    z-index: 1;
    content: '';
    position: absolute;
    left: 50%;
    top: calc(100% - 1px);
    transform: translateX(-50%);
    width: 55vw;
    height: 1px;
    background-image: linear-gradient(to right, transparent, white, transparent);
}

.wrapper-hero,
.wrapper-job-experience,
.wrapper-about-me,
.wrapper-skills,
.wrapper-projects,
.wrapper-projects-accordion,
.wrapper-contact-me {
    background-image: none;
    z-index: 2;
    position: relative;
    padding: 50px;
    .container {
        z-index: 1;
        width: clamp(300px, 70vw, 800px);
    }
}

@media screen and (max-width: 900px) {
    .wrapper-hero,
    .wrapper-job-experience,
    .wrapper-about-me,
    .wrapper-skills,
    .wrapper-projects,
    .wrapper-projects-accordion,
    .wrapper-contact-me {
        padding: 50px 20px;
        .container {
            h2 {
                text-align: center;
            }
            width: clamp(300px, 70vw, 800px);
        }
    }
}